<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="Pustakalay.BooksModule.dll" moduleType="Pustakalay.BooksModule.BooksModule, Pustakalay.BooksModule, Version=1.0.0.0, PublicKeyToken=null" moduleName="Pustakalay.BooksModule" startupLoaded="true" />
    <module assemblyFile="Pustakalay.LayoutModule.dll" moduleType="Pustakalay.LayoutModule.LayoutModule, Pustakalay.LayoutModule, Version=1.0.0.0, PublicKeyToken=null" moduleName="Pustakalay.LayoutModule" startupLoaded="true" />
    <module assemblyFile="Pustakalay.MembersModule.dll" moduleType="Pustakalay.MembersModule.MembersModule, Pustakalay.MembersModule, Version=1.0.0.0, PublicKeyToken=null" moduleName="Pustakalay.MembersModule" startupLoaded="true" />
    <module assemblyFile="Pustakalay.InventoryModule.dll" moduleType="Pustakalay.InventoryModule.InventoryModule, Pustakalay.InventoryModule, Version=1.0.0.0, PublicKeyToken=null" moduleName="Pustakalay.InventoryModule" startupLoaded="true" />
  </modules>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="PustakalayEntities" connectionString="metadata=res://*/PustakalayContext.csdl|res://*/PustakalayContext.ssdl|res://*/PustakalayContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hellrocker-pc\divsqlserver;initial catalog=Pustakalay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PustakalayModelContext" connectionString="metadata=res://*/PustakalayModel.csdl|res://*/PustakalayModel.ssdl|res://*/PustakalayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hellrocker-PC\divsqlserver;initial catalog=Pust;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PustEntityContext" connectionString="metadata=res://*/NewPustModel.csdl|res://*/NewPustModel.ssdl|res://*/NewPustModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hellrocker-PC\divsqlserver;initial catalog=Pust;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>