<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <connectionStrings>
    <add name="PustakalayEntities" connectionString="metadata=res://*/PustakalayContext.csdl|res://*/PustakalayContext.ssdl|res://*/PustakalayContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hellrocker-pc\divsqlserver;initial catalog=Pustakalay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PustakalayModelContext" connectionString="metadata=res://*/PustakalayModel.csdl|res://*/PustakalayModel.ssdl|res://*/PustakalayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hellrocker-PC\divsqlserver;initial catalog=Pust;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PustEntityContext" connectionString="metadata=res://*/NewPustModel.csdl|res://*/NewPustModel.ssdl|res://*/NewPustModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hellrocker-PC\divsqlserver;initial catalog=Pust;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
