<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PustakalayModelContainer" connectionString="metadata=res://*/PustakalayModel.csdl|res://*/PustakalayModel.ssdl|res://*/PustakalayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Hellrocker-PC\divsqlserver;Initial Catalog=Pustakalay;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>